[Unit]
Description=Set console blanking timeout

[Service]
ExecStart=/usr/bin/setterm --blank 1 --powerdown 2 --store
StandardInput=tty
TTYPath=/dev/tty1
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target

